body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("./kaveri-online-services-portal.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .container {
    text-align: center;
  }
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select,
  button {
    margin-bottom: 10px;
  }
  
  #message {
    font-weight: bold;
  }